version: "3.9"
services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    restart: always

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - app-network
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URI: ${VITE_API_URI}
    container_name: frontend
    ports:
      - "80:80"  # Changed from 5173 to 80
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge