version: "3.9"
services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    restart: always

  backend:
    image: ${DOCKER_USERNAME}/aideveloper-backend:latest
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - app-network
    restart: always

  frontend:
    image: ${DOCKER_USERNAME}/aideveloper-frontend:latest
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge